.title {
    color: #575454;
    font-weight: 500;
    text-align: justify;
    font-size: 24px;
}
.description {
    color: #6e6e6e;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}
.img_feed {
    width: 258px;
    margin: 5px 0px 15px 0px;
}
.feed {
    width: 300px;
    padding: 20px;
    border: solid 1px #eceaea;
    margin: 20px;
    float: left;
    margin-right: 0px;
}